<%= turbo_frame_tag :friend_preview do %>
  <div class="mt-3 results-block">
		<%= render 'layouts/messages' %>
	</div>
  <% @users.each do |user|%>
    <%= render 'preview', user: user %>
  <% end %>
<% end %>  